<div class="pk-input__search">
  <label for="searchFriends">
    <i class="material-icons">search</i>
  </label>
  <input type="text" placeholder="Start typing a friend's name" [(ngModel)]="searchText" id="searchFriends">
</div>
<div class="friends__count" *ngIf="friends && friends.length > 0">
  Кол-во друзей: {{ friends.length }}
</div>
<div class="friends" *ngIf="friends && friends.length > 0; else noFriends">
  <a routerLink="/profile/{{ friend.id }}" class="friends__item" *ngFor="let friend of (friends | filter:searchText:'name')">
    <div class="friends__left">
      <div class="pk-avatar">
        <img [src]="friend.avatar" alt="#">
        <div class="pk-status" [class.pk-status--online]="friend.online"
                               [class.pk-status--offline]="!friend.online"
        ></div>
      </div>
      <div class="friends__name">
        <span>{{ friend.name }}</span>
      </div>
    </div>
    <a routerLink="/messages/{{ friend.id }}" *ngIf="friend.id != id">
      <i class="friends__mail material-icons">email</i>
    </a>
  </a>
</div>
<ng-template #noFriends>
  <div class="no-friends">
    <span>You haven't got friends..</span>
  </div>
</ng-template>
