.messages {
  background: #fff;

  &__count {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    font-size: 12px;
    color: #666;
    background: #fdfdfd;
    border-bottom: 1px solid #f6f6f6;
  }
}

.message {
  display: flex;
  align-items: center;
  width: 100%;
  outline: none;
  text-decoration: none;
  transition: .2s;
  border-bottom: 1px solid #f6f6f6;

  &:hover {
    background: #fafafa;
  }

  &__avatar {
    display: flex;
    padding: 8px;
    position: relative;

    img {
      @size: 50px;
      width: @size;
      height: @size;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
  }

  &__author {
    font-weight: bold;
    font-size: 11pt;
  }

  &__author span,
  &__text span {
      width: 100%;
      padding-right: 10px;
      color: #444;
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  &__text {
    color: #888;
    font-size: 10pt;
  }

  &__unreaded {
    background: #efe7f7;
  }

  &__info {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 10px;

    &--time {
      font-size: 8pt;
      width: 60px;
      color: #ccc;
      margin-bottom: 5px;
    }

    &--count {
      display: flex;
      justify-content: center;

      span {
        @size: 18px;
        background: #ff1493;
        border-radius: @size;
        width: @size;
        height: @size;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8pt;
        color: #fff;
        font-weight: bold;
      }
    }
  }
}

.no-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
  color: #888;

  span:last-child {
    font-size: 10pt;

    a {
      color: #1e90ff;
    }
  }
}
