<div class="login" *ngIf="show">
  <div class="logo">
    <img src="assets/icons/logo.svg" alt="Sociality">
  </div>
  <form class="login__form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="login__inputs">
      <input name="login" autocomplete="off" ngModel type="text" [placeholder]=text.login>
      <input name="password" autocomplete="off" ngModel type="password" [placeholder]=text.pass>
      <input name="repeatedPassword" autocomplete="off" ngModel type="password" [placeholder]=text.passRepeat>
      <div class="login__genders">
        <div class="login__male" [class.login__male--checked]="gender == 'male'" (click)="selectGender('male')">Male</div>
        <div class="login__female" [class.login__female--checked]="gender == 'female'" (click)="selectGender('female')">Female</div>
      </div>
    </div>
    <input type="submit" class="button button--primary" [value]=text.signUp>
    <div class="login__links">
      Already have an account?
      <a routerLink="/login">{{ text.signIn }}</a>
    </div>
  </form>
</div>
