<app-view-image></app-view-image>
<div class="dialog">
  <div class="dialog__message" [class.dialog__message--from]="message.authorId == id" *ngFor="let message of messages">
    <div class="dialog__time" *ngIf="message.authorId == id">{{ message.messageDate | date:'shortTime' }}</div>
    <div class="dialog__text" *ngIf="message.type == 'text'">
      {{ message.messageText }}
    </div>
    <div class="dialog__image" *ngIf="message.type == 'image'" (click)="showImage(message.messageImage)">
      <img src="http://localhost:5000/images?id={{ message.messageImage }}">
      <div class="dialog__image-description">View image</div>
      <i class="material-icons">camera_alt</i>
    </div>
    <div class="dialog__time" *ngIf="message.authorId != id">{{ message.messageDate | date:'shortTime' }}</div>
  </div>
</div>
<form class="message" (ngSubmit)="onSubmit(form)" #form="ngForm">
  <label for="fileAttach">
    <i class="material-icons">camera_alt</i>
  </label>
  <input #file (change)="onChange()" id="fileAttach" type="file" name="pic" accept="image/jpeg, image/png" hidden>
  <input type="text" class="message__text" name="text" ngModel placeholder="Type message here..">
  <button type="submit" class="material-icons">send</button>
</form>
