<div class="profile" *ngIf="show">
  <div class="profile__top">
    <div class="profile__avatar">
      <img [src]="profile.avatar">
    </div>
    <div class="profile__user">
      <div class="profile__name">{{ profile.name }}</div>
      <div class="profile__status">
        <i class="material-icons"
           [class.profile__status--online]="profile.online"
           [class.profile__status--offline]="!profile.online">brightness_1</i>
      </div>
    </div>
  </div>
  <a routerLink="/messages/{{ profile.id }}" class="profile__message" *ngIf="profile.id != authId; else editProfile">Send Message</a>
  <ng-template #editProfile>
    <a routerLink="/profile-edit" class="profile__edit">Edit profile</a>
  </ng-template>
  <ul class="profile__info">
    <li *ngIf="profile.phone"><i class="material-icons">smartphone</i>{{ profile.phone }}</li>
    <li *ngIf="profile.email"><i class="material-icons">mail_outline</i>{{ profile.email }}</li>
  </ul>
</div>
<app-posts>Loading posts...</app-posts>
