<div class="login" *ngIf="show">
  <div class="logo">
    <img src="assets/icons/logo.svg" alt="Sociality">
  </div>
  <form class="login__form" (ngSubmit)="onSubmit(form)" #form="ngForm">
    <div class="login__inputs">
      <input name="login" ngModel type="text" [placeholder]=text.login>
      <input name="password" ngModel type="password" [placeholder]=text.pass>
    </div>
    <input type="submit" class="button button--primary" [value]=text.signIn>
    <div class="login__links">
      Need account?
      <a routerLink="/registration">{{ text.signUp }}</a>
    </div>
  </form>
</div>
