<div class="login">
    <div class="login__title">{{ text.title }}</div>
    <form class="login__form" (ngSubmit)="onSubmit(form)" #form="ngForm">
      <div class="login__inputs">
        <input name="login" ngModel type="text" [placeholder]=text.login>
        <input name="password" ngModel type="password" [placeholder]=text.pass>
      </div>
      <input type="submit" class="button button--primary" [value]=text.signIn>
      <div class="login__links">
        <a href="#">{{ text.signUp }}</a>
        <a href="#">{{ text.forgotPass }}</a>
      </div>
    </form>
</div>
