<div class="app">
  <app-loader *ngIf="loaderState == 'true'"></app-loader>
  <nav class="top-nav" *ngIf="viewNavBar">
    <a (click)="goBack()"><i class="material-icons">keyboard_arrow_left</i></a>
    <span class="top-nav__text">{{ textNavBar }}</span>
    <a routerLink="/profile-edit"><i class="material-icons">settings</i></a>
  </nav>
  <router-outlet></router-outlet>
  <nav class="bottom-nav">
    <a routerLink="/friends" routerLinkActive="active">
      <i class="material-icons">people</i>
    </a>
    <a routerLink="/music" routerLinkActive="active">
      <i class="material-icons">audiotrack</i>
    </a>
    <a routerLink="/messages" routerLinkActive="active">
      <i class="material-icons">message</i>
    </a>
    <a routerLink="/profile" routerLinkActive="active">
      <i class="material-icons">person</i>
    </a>
  </nav>
</div>
