@import 'colors.less';

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  @button-size: 40px;
  height: @button-size;
  border-radius: @button-size;
  margin: 10px 0;
  cursor: pointer;

  &--primary {
    background: @action;
    color: var(--buttonColorPrimary);
    transition: .2s;

    &:hover {
      background: lighten(@action, 10%);
    }
  }

  &--disabled {
    background: var(--buttonBackgroundDisabled);
    color: var(--buttonColorDisabled);
    cursor: default;
  }
}
