:root {
    --buttonBackgroundPrimary: #32cd32;
    --buttonColorPrimary: #fafafa;
    --buttonBackgroundDisabled: #eee;
    --buttonColorDisabled: #777;
}

@bodyBackground: #fafafa;
@loginInputBorder: #eee;
