@import './light-theme-colors.less';
// @import './dark-theme-colors.less';
@import './buttons.less';
@import './interface.less';

* {
    box-sizing: border-box;
}

body {
    background: @bodyBackground;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}

app-root {
  padding: 45px 0 120px;
}
